@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Open+Sans:wght@200;400;500;700&family=Roboto:wght@200;400;500;700&family=Baumans:wght@200;400;500;700&family=Anton&display=swap");
body{
    /* background-color: #000!important; */
    font-family: Arial,sans-serif;
    font-size: 20px!important;
}
.Anton{
    font-family: Anton, sans-serif!important;
}
.Roboto{
    font-family: Roboto, sans-serif!important;
}
.Poppins{
    font-family: Poppins, sans-serif!important;
}
.hero-section{
    background-color: rgba(0, 0, 0, 0)!important;
    background-image:none!important;
}
.g1{
    background:linear-gradient(-44deg, black 12% 26%, #020236 103%);
}
.h1.hero-title{
    margin-bottom: 0px!important;
    margin: 5px 0!important;
    margin-left: -3px!important;
    font-size: 32px!important;
    line-height: 125%!important;
    font-weight: 700!important;
    text-transform: none;
    text-transform: uppercase!important;
    color: #000000!important;
}
.header{
    border-bottom: 1px solid hsl(0deg 0% 100% / 0%)!important;
}
.nav-item{
    font-family: Roboto, sans-serif!important;
    /* font-weight: 200!important; */
    letter-spacing: .5px;
}
@media (min-width: 320px) {

}
